* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, p, a, li{
  /*font-family: Helvetica Neue,Helvetica,Arial,sans-serif; */
  font-family: proxima-nova, sans-serif;
}

p, li, a{
  color: #565656;    
  font-family: proxima-nova, sans-serif;
}

body{
  margin: 0px;
}

.button{
    width: 150px;
    padding: 5px 15px;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    transition: .7s;
    letter-spacing: 1px;
}

.button:hover{
  background-color: black;
  color: white;
}

.page{
    display: block;
    position: relative;
}