<div class="galleryHeader">{{ entry.galleryHeader | nl2br }} </div>
<div class="row gallery"> 
  <div class="column">
  {% for img in entry.galleryLeft %}
      <img src="{{ img.url }}">
    {% endfor %}
  </div>
  <div class="column">
    {% for img in entry.gallery %}
      <img src="{{ img.url }}">
    {% endfor %}
  </div>
  
  <div class="column">
    {% for img in entry.galleryRight %}
      <img src="{{ img.url }}">
    {% endfor %}
  </div> 
</div>