.home{

  .hero{
    &__image{
      width: 100%;
      /*max-width: 1200px;*/
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      background-position: center;
      text-align: center;
      /*background-color: var(--brown);*/
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080;
      filter: brightness(100%);
    }
    &__image::before{
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0,0,0,.2);
    }
    .parlo-logo{
      position: absolute;
      top: 0px;
      width: 360px;
      height: 360px;
      z-index: 999;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      margin-left: -180px;
      transform: translateY(0px);
    }
    margin-bottom: 0em;
  }
  &__text{
    width: 100%;
    display: inline-block;
    line-height: 1.6em;
    font-weight: 400;
    color: black;
    .loop1{
      width: 70%;
      display: inline-block;
      p{
        width: 80%;
      }
    }
    .button{
      display: inline-block;
      text-align: center;
      transform: translateY(-50px);
    }
  }
  &__shop{
      display: inline-block;
      text-align: center;
      width: 100%;
    a{
      margin-top: 100px;
      margin-bottom: 36px;
      display: inline-block;
      line-height: 1em;
      font-family: proxima-nova-condensed, sans-serif;
      text-align: center;
    }
  }

}

.parlo-logo{
  background-image: url('parlo-uniform-w.svg');
  display: block;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  transform: translateY(100px);
  background-size: contain;
}

section{
  display: block;
}

.features{
  height: 400px;
  list-style: none;
  text-align: center;
  margin: auto 10px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-flow: row-wrap;
}

.feature{
  display: inline-block;
  height: 400px;
  list-style: none;
  margin: .15%;
  text-align: center;
  position: relative;
  float: left;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;  
  cursor: pointer;
  transition: all ease-in-out .6s;
  p{
    line-height: 1.5em;
    background-color: white;
    color: black;
    width: 75%;
    transition: opacity .25s;
    margin-top: 50%;
    padding: 10px 15px;
    opacity: 0;
    display: inline-block;
  }
}

.feature{
  transition: .7s ease;
}

.feature:hover{
  flex: 2;
}

.feature:hover{
  /*border-radius: 600px;*/
}

.feature__blend{
  width: 100%;
  height: 100%;
}

.feature:hover{
  p{
    opacity: .8;
  }
}

@media(min-width: 1250px){
  .features .feature p{
    margin-top: 40%;
  } 
}

@media(max-width: 950px){
  .hero__image{
    margin-bottom: 0em;
  }
  .features{
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  .feature:nth-child(4), .feature:nth-child(5){
    height: 250px;
    width: 49%;
    p{
      margin-top: 20%;
    }
  }
  .feature:hover{
    flex: auto;
  }
  .feature{
    flex-grow: none;    
    width: 33%;
    flex: auto;
    p{
      opacity: .9;
    }
  }
  .page .home-text{
    margin-top: 20px;
    clear: both;
    p{
      /*width: 70%;*/
    }
  }
}

@media(max-width: 750px){
  .features{
    flex-wrap: wrap;
  }
  .feature:nth-child(4){
    height: 250px;
    p{
      margin-top: 20%;
    }
  }
  .feature:nth-child(5){
    height: 250px;
    p{
      margin-top: 15%;
    }
  }
  .feature{
    height: 250px;
    flex-grow: 2;    
    width: 49%;    
    p{
      opacity: .9;
      margin-top: 20%;
    }
  }
  .page .home-text{
    margin-top: 20px;
    p{
      width: 100%;
    }
    .button{
      display: block;
      margin-top: 80px;
    }
  }
}

@media(max-width: 700px){
  .page .home-text p{
    width: 85%;
  }
}

@media(max-width: 500px){
  .features{
    display: block;   
    height: auto;  
  }
  .feature:nth-child(4), .feature:nth-child(5){
    height: 350px;
    width: 100%;
    p{
      margin-top: 20%;
    }
  }
  .feature{
    height: 350px;
    position: relative;
    width: 100%;   
    margin-top: 10px; 
    p{
      opacity: 1;
      margin-top: 20%;
    }
  }
  .page .home-text{
    margin-top: 0px;
    padding-top: 20px;
    display: block;
    margin-bottom: 20px;
    .loop1{
      width: 90%;
    }
    h1{
      font-size: 26px;
      margin-bottom: 1em;
    }
    h1:after{
      transform: translateY(-8px);
    }
    p{
      width: 90%;
    }
  }
}