{% extends "_layout" %}

{% block content %}

<div class="hero">
  <div class="hero__image" style="background-image: url('{{ entry.homeCarousel.one().url() }}')"></div>
</div>

<ul class="features">
  {% for product in entry.productGrid %}

  <li class="feature" style="background-image: url('{{ product.productPicture.one().url() }}')">
    <p>{{ product.productName }}</p>
    <div class="feature__blend">
    </div>
  </li>

  {% endfor %}
</ul>

{% endblock %}