@charset "UTF-8";

/*@import 'normalize.css';*/
@import './css/about.css';
@import './css/basics.css';
@import './css/footer.css';
@import './css/gallery.css';
@import './css/general.css';
@import './css/home.css';
@import './css/nav.css';
@import './css/shop.css';
@import './css/textBlock.css';
@import "hamburgers/dist/hamburgers";

:root {


 --grey: #99978f;
 --dark-grey: #565347;
 --brown: #231f20;
 --grey: #7A6C64;

}