@charset "UTF-8";

/*@import 'normalize.css';*/
@import './css/basics.css';
@import './css/footer.css';
@import './css/home.css';
@import './css/nav.css';

:root {


 --red: #C40C18;
 --dark-red: #B42C35;
 --light-grey: #D8D8D8;
 --grey: #7A6C64;

}